<a class="my-button" href="{{ '/' | relative_url }}"> Home </a>
<a class="my-button" href="{{ '/projects' | relative_url }}"> Projects </a>
<a class="my-button" href="{{ '/resume' | relative_url }}"> Resume </a>
<a class="my-button" href="{{ '/about' | relative_url }}"> About </a>
<a
  class="my-button icon"
  href="https://www.linkedin.com/in/ericjchen21/"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="{{ '/assets/img/InBug-White.png' | relative_url }}"
    alt="LinkedIn Icon"
  />
</a>
