.my-button {
  height: calc(3 * var(--std-unit));
  width: calc(8 * var(--std-unit));

  &.icon {
    width: calc(3 * var(--std-unit));

    img {
      height: calc(1.5 * var(--std-unit));
      width: calc(1.5 * var(--std-unit));
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--std-unit);

  background-color: darken($bg-color, 5%);
  border-radius: calc(1 * var(--std-unit)) calc(1 * var(--std-unit));

  color: var(--text-color);
  font-size: var(--std-unit);
  text-decoration: none;

  &:hover {
    background-color: #123524;
    transform: scale(1.1);
  }
}
