.title-container {
  height: var(--page-title-height);
  width: 100vw;

  @media (min-aspect-ratio: 1/1) {
    max-width: var(--max-width);
  }

  display: flex;
  justify-content: start;
  align-items: center;

  padding: var(--std-unit);

  h1 {
    font-size: var(--title-size);
  }
}
