---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #0000ff;
$font-size-base: 16px;
$mobile-breakpoint: 960px;
$std-unit: 2svh;

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

:root {
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
  --accent-color: #{$accent-color};
  --font-size-base: #{$font-size-base};
  --mobile-breakpoint: #{$mobile-breakpoint};
  --std-unit: #{$std-unit};
  --max-width: calc(60 * var(--std-unit));
  --navbar-height: calc(5 * var(--std-unit));
  --page-title-height: --navbar-height;
  --title-size: calc(3 * var(--std-unit));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @include clear-all;
}

body {
  @include clear-all;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: IBM Plex Sans, sans-serif;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .svg-icon {
    height: calc(1.5 * var(--std-unit));
    width: calc(1.5 * var(--std-unit));
  }
}

// Your variable imports/definitions usually go here
@import "navbar";

@import "my_button";

@import "index";

@import "footer";

@import "page";

@import "resume";

@import "gallery";

@import "project_page";
